.movie-cards {
  margin-top: 80px;
}

@media screen and (max-width: 767.98px) {
  .movie-cards {
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-top: 50px;
  }
}
.movie-cards__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 32px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1279.98px) {
  .movie-cards__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 767.98px) {
  .movie-cards__list {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.movies__button {
  padding: 11px 60px 9px 60px;
  border-radius: 5px;
  background-color: transparent;
  width: 320px;
  color: #FFF;
  border: 1px solid #424242;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
  display: block;
  transition: opacity .24s linear;
}

@media screen and (max-width: 767.98px) {
  .movies__button {
    width: 240px;
    padding: 11px 20px 9px 20px;
  }
}

.movies__button:hover {
  cursor: pointer;
  opacity: .5;
}

.movies__button_no-visible {
  display: none;
}