.movies {
  box-sizing: border-box;
  max-width: 1140px;
}

.page__movies {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1279.98px) {
  .page__movies {
    margin-top: 7px;
  }
}