.profile {
  box-sizing: border-box;
  max-width: 1140px;
}

.page__profile {
  margin: 0 auto;
}

@media screen and (max-width: 1279.98px) {
  .page__profile {
    margin-top: 96px;
  }
}

@media screen and (max-width: 767.98px) {
  .page__profile {
    margin-top: 0;
  }
}

.profile__greeting {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto 123px auto;
}

@media screen and (max-width: 1279.98px) {
  .profile__greeting {
    margin-bottom: 96px;
  }
}

@media screen and (max-width: 767.98px) {
  .profile__greeting {
    margin-bottom: 80px;
  }
}

.profile__info {
  width: 410px;
  margin: 0 auto 220px auto;
}

@media screen and (max-width: 1279.98px) {
  .profile__info {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 767.98px) {
  .profile__info {
    width: 260px;
    margin-bottom: 379px;
  }
}

.profile__field {
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  display: block;
}

.profile__name, .profile__mail {
  text-align: right;
  font-size: 11px;
  line-height: normal;
  display: block;
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__wrapper:not(:last-child) {
  border-bottom: 1px solid #424242;
  padding-bottom: 18px;
  margin-bottom: 17px;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 70px;
}

@media screen and (max-width: 1279.98px) {
  .profile__buttons {
    margin-bottom: 269px;
  }
}

@media screen and (max-width: 767.98px) {
  .profile__buttons {
    margin-bottom: 40px;
  }
}

.profile__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: normal;
  text-align: center;
  transition: opacity .24s linear;
}

@media screen and (max-width: 767.98px) {
  .profile__btn {
    font-size: 12px;
  }
}

.profile__btn:hover {
  opacity: .5;
  cursor: pointer;
}

.profile__edit-btn {
  color: #FFF;
}

.profile__exit-btn {
  color: #EE3465;
  font-weight: 500;
}