.burger-button {
  display: none;
  position: fixed;
  right: 30px;
  width: 44px;
  height: 44px;
  background-color: rgb(32, 32, 32, .6);
  transition: opacity .24s linear;
  z-index: 10;
}

.burger-button:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 850px) {
  .burger-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  .burger-button {
    width: 40px;
    height: 43px;
    right: 14px;
  }
}

.burger-button__line {
  background-color: #FFF;
  width: 28px;
  height: 3px;
  transition: transform .24s ease-in;
}

@media screen and (max-width: 767.98px) {
  .burger-button__line {
    width: 22px;
    height: 2.5px;
  }
}

.burger-button__line:not(:last-child) {
  margin-bottom: 7px;
}

@media screen and (max-width: 767.98px) {
  .burger-button__line:not(:last-child) {
    margin-bottom: 6.5px;
  }
}

.burger-button__line_active:nth-of-type(1) {
  display: none;
}

.burger-button__line_active:nth-of-type(2) {
  transform: translateY(50%) rotate(45deg);
  margin-bottom: 0;
}

.burger-button__line_active:nth-of-type(3) {
  transform: translateY(-50%) rotate(-45deg); 
}