.not-found {
  margin-top: 246px;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 1279.98px) {
  .not-found {
    margin-top: 408px;
    margin-bottom: 222px;
  }
}

@media screen and (max-width: 767.98px) {
  .not-found {
    margin-top: 329px;
    margin-bottom: 30px;
  }
}

.not-found__error {
  display: block;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

@media screen and (max-width: 767.98px) {
  .not-found__error {
    font-size: 80px;
    margin-bottom: 10px;
  }
}

.not-found__text {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 184px;
}

@media screen and (max-width: 767.98px) {
  .not-found__text {
    font-size: 12px;
    margin-bottom: 284px;
  }
}

.not-found__back {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #4285F4;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  transition: opacity .24s linear;
}

.not-found__back:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 767.98px) {
  .not-found__back {
    font-size: 12px;
  }
}