.portfolio {
  max-width: 1140px;
  box-sizing: border-box;
}

.page__portfolio {
  margin-bottom: 115px;
}

@media screen and (max-width: 1279.98px) {
  .page__portfolio {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767.98px) {
  .page__portfolio {
    margin-bottom: 70px;
  }
}

.portfolio__title {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 1279.98px) {
  .portfolio__title {
    color: #A0A0A0;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

.portfolio__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio__item:not(:last-child) {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 1279.98px) {
  .portfolio__item:not(:last-child) {
    border-bottom: 1px solid #E6E6E6;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio__item:not(:last-child) {
    padding-bottom: 19px;
  }
}

.portfolio__link {
  transition: opacity .24s linear;
}

.portfolio__link:hover {
  opacity: .5;
}

.link {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
}

.link__text {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.2px;
  margin: 0;
}

@media screen and (max-width: 1279.98px) {
  .link__text {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 767.98px) {
  .link__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}

.link__arrow {
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin: 0;
}

@media screen and (max-width: 1279.98px) {
  .link__arrow {
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 767.98px) {
  .link__arrow {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}