.page {
  font-family: 'Inter', 'Times New Roman', 'Arial', 'Georgia', 'Verdana', sans-serif;
  font-weight: 400;
  color: #FFF;
  background-color: #202020;
}


/* повторяющиеся стили */

.bg-blue {
  background-color: #073042;
}

.bgHeader-logged {
  background-color: #202020;
}

.bg-gray {
  background-color: #272727;
}

@media screen and (max-width: 767.98px) {
  .bg-gray {
    background-color: #202020;
  }
}

.title {
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

@media screen and (max-width: 767.98px) {
  .title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}

.dividing-line {
  width: 100%;
  height: 1px;
}

.auto-width {
  width: 89.0625vw;
  margin-left: auto;
  margin-right: auto;
}

/* из-за полосы прокрутки всё не PixelPerfect, поэтому меняю с vw на % в нижнем правиле */

@media screen and (min-width: 1280.98px) {
  .auto-width {
    width: 89.0625%;
  }
}

@media screen and (max-width: 1279.98px) {
  .auto-width {
    width: 92.1875vw;
  }
}

@media screen and (max-width: 767.98px) {
  .auto-width {
    width: 91.25vw;
  }
}

@media screen and (max-width: 1279.98px) {
  .auto-width-main {
    width: 86.9792vw;
  }
}

@media screen and (max-width: 767.98px) {
  .auto-width-main {
    width: 88.75vw;
  }
}

@media screen and (min-width: 1280.98px) {
  .auto-width-movies {
    width: 89.0625vw;
  }
}

@media screen and (max-width: 767.98px) {
  .auto-width-movies {
    width: 93.75vw;
  }
}