.header__nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 850px) {
  .header__nav {
    display: none;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.nav__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: #FFF;
  transition: opacity .24s linear;
}

.nav__link:hover {
  opacity: .5;
}

.nav__link_active {
  font-weight: 500;
}

.burger-menu__nav {
  text-align: center;
  margin-top: 159px;
}

@media screen and (max-width: 767.98px) {
  .burger-menu__nav {
    margin-top: 144px;
  }
}

.burger-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.burger-menu__item:not(:last-child) {
  margin-bottom: 28px;
}

@media screen and (max-width: 767.98px) {
  .burger-menu__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.burger-menu__link {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: opacity .24s linear;
}

.burger-menu__link:hover {
  opacity: .5;
}

.burger-menu__link_active {
  border-bottom: 2px solid #FFF;
  padding-bottom: 4px;
}

@media screen and (max-width: 767.98px) {
  .burger-menu__link_active {
    padding-bottom: 7px;
  }
}