.page__header {
  margin: 0 auto;
  padding-bottom: 93px;
  position: relative;
}

@media screen and (max-width: 1279.98px) {
  .page__header {
    padding-bottom: 158px;
  }
}

@media screen and (max-width: 767.98px) {
  .page__header {
    padding-bottom: 88px;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 18px 0;
  max-width: 1140px;
  box-sizing: border-box;
  justify-content: space-between;
}

@media screen and (max-width: 1279.98px) {
  .header_padd_other {
    padding-bottom: 71px;
  }
}

.header__logo {
  transition: opacity .24s linear;
}

.header__logo:hover {
  opacity: .5;
  cursor: pointer;
}

.header__button {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 0;
  border: none;
  background: transparent;
  transition: opacity .24s linear;
}

@media screen and (max-width: 767.98px) {
  .header__button {
   font-size: 10px;
  }
}

.header__button:hover {
  cursor: pointer;
  opacity: .5
}

.header__account {
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: opacity .24s linear;
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.header__account:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 850px) {
  .header__account {
    display: none;
  }
}

.account__text {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px; 
  margin: 0;
}

.account__img {
  display: block;
  border-radius: 50px;
  background: #313131;
  padding: 7px;
}

.header__buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 767.98px) {
  .header__buttons-wrapper {
   gap: 14px;
  }
}

.header__button_type_login {
  color: #000;
  padding: 8px 20px;
  text-align: center;
  background-color: #3DDC84;
  border-radius: 3px;
}

@media screen and (max-width: 767.98px) {
  .header__button_type_login {
   padding: 5px 12px;
  }
}

.header__button_type_registration {
  color: #FFF;
}