.footer {
  box-sizing: border-box;
  max-width: 1140px;
  padding: 79px 0 20px 0;
}

.footer__text {
  display: block;
  color: #8B8B8B;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  line-height: normal;
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .footer__text {
    font-size: 12px;
    margin-bottom: 21px;
  }
}

.footer__border {
  width: 100%;
  height: 1px;
  background-color: #424242;
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .footer__border {
    margin-bottom: 26px;
  }
}

.footer__copy {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  line-height: normal;
}

@media screen and (max-width: 767.98px) {
  .footer__copy {
    font-size: 12px;
    color: #8B8B8B;
    order: 1;
  }
}

.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__link {
  color: inherit;
  text-decoration: none;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  line-height: normal;
  transition: opacity .24s linear;
}

.footer__link:hover {
  opacity: .5;
}

@media screen and (max-width: 767.98px) {
  .footer__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
  }
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767.98px) {
  .footer__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}