.about-me {
  max-width: 1140px;
  box-sizing: border-box;
}

.page__about-me {
  margin-bottom: 100px;
}

@media screen and (max-width: 1279.98px) {
  .page__about-me {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767.98px) {
  .page__about-me {
    margin-bottom: 70px;
  }
}

.about-me__title {
  margin: 0 0 23px 0;
}

@media screen and (max-width: 767.98px) {
  .about-me__title {
    margin-bottom: 28px;
  }
}

.about-me__line {
  background-color: #DADADA;
  margin-bottom: 66px;
}

@media screen and (max-width: 767.98px) {
  .about-me__line {
    margin-bottom: 60px;
  }
}

.about-me__name {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0 0 18px 0;
  font-weight: 400;
}

@media screen and (max-width: 1279.98px) {
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  .about-me__name {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
  }
}

.about-me__career {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 26px 0;
}

@media screen and (max-width: 1279.98px) {
  .about-me__career {
    font-size: 12px;
    line-height: 18px; 
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .about-me__career {
    font-size: 11px;
    line-height: 16px;
  }
}

.about-me__history {
  max-width: 600px;
  margin: 0 0 99px 0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  line-height: 22px
}

@media screen and (max-width: 1279.98px) {
  .about-me__history {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 87px;
    max-width: 88%;
  }
}

@media screen and (max-width: 767.98px) {
  .about-me__history {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
    max-width: 100%;
  }
}

.about-me__link {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  color: inherit;
  transition: opacity .24s linear;
}

.about-me__link:hover {
  opacity: .5;
}

.about-me__img {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 1279.98px) {
  .about-me__img {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767.98px) {
  .about-me__img {
    margin-bottom: 40px;
    width: 100%;
    height: 352px;
    order: -1;
  }
}

.about-me__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 767.98px) {
  .about-me__info {
    flex-direction: column;
  }
}